{% extends 'base.html' %}


{% macro modal(id, heading, text) -%}
<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#{{id}}_modal">
  I
</button>

<!-- Modal -->
<div class="modal fade" id="{{id}}_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{heading}}: Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%- endmacro %}

{% block content %}
<h1>compare</h1>
<a href="{{ url_for('settings') }}">Settings</a>

<div class="card" style="display:none" id="question">

  <div class="card-block">
    <h4 class="card-title">One quick question!</h4>
<p class="card-text">Perfect, we detected that you are in {{ right }}. <br/>

 Can you hold hands in public with your same sex partner in {{right}}?</p>
  <button class="btn btn-primary" onclick="clk('yes', '{{right}}')">Yes!</button> <button class="btn btn-primary" onClick="clk('no', '{{right}}');">No!</button>
  <script>
    function clk(value, country_cd) {
      if (!localStorage.getItem("vote_"+country_cd)) {
    $.post("/vote", {response: value, country_code: country_cd}, function() {
    $("#question").hide();
    localStorage.setItem("vote_"+country_cd, 1) });
    $("#thankyou").show();
      }
    }

    if (!localStorage.getItem("vote_{{right}}")) {
       $("#question").show()
    }
  </script>
</div>
</div>

<div class="alert alert-success" role="alert" style="display:none" id="thankyou">
  <strong>Well done!</strong> Thank you for keeping fellow travellers safe and sound!
</div>

<table class="table">
  <thead>
    <tr>
      <td>Category</td>
      <td>Home</td>
      <td>Current</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <td>{{ left_label }}</td>
      <td>{{ right_label }}</td>
    </tr>
    <tr>
      <td>
      <td>
        <img src="{{ url_for('static', filename='shapes/'+left+'/vector.svg') }}" style="height:100px">
      <td>
        <img src="{{ url_for('static', filename='shapes/'+right+'/vector.svg') }}" style="height:100px">
    </tr>
    <tr>
      <td>
        Public display of affection (user-rating)
      </td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{votes_left.ratio}}%;" aria-valuenow="{{votes_left.ratio}}" aria-valuemin="0" aria-valuemax="100">{{votes_left.ratio}}%</div>
        </div>
        ({{votes_left.count}} votes)
      </td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{votes_right.ratio}}%;" aria-valuenow="{{votes_right.ratio}}" aria-valuemin="0" aria-valuemax="100">{{votes_right.ratio}}%</div>
        </div>
        ({{votes_right.count}} votes)
      </td>
    </tr>
    {% for cat, values in categories %}
    {% for key in values %}

    <tr class="{{cat}}">
      <td>
      {{ right_data[key].label}}
      {{ modal(key, right_data[key].label, right_data[key].description) }}
      </td>
      <td>
        {% if left_data %}
        <p class="{{judge_class(left_data[key].current_status.value, key)}}">{{left_data[key].current_status.value}}</p>
        {% if left_data[key].current_status.description|length > 4 %}
        {{ modal(left_data[key].id + "_left", left_data[key].label + ": " + left_data[key].current_status.value, left_data[key].current_status.description) }}
        {% endif %}
        {% else %}

        {% endif %}
      </td>
      <td>
        <p class="{{judge_class(right_data[key].current_status.value, key)}}">{{right_data[key].current_status.value}}</p>
        {% if right_data[key].current_status.description|length > 4 %}
        {{ modal(right_data[key].id + "_right", right_data[key].label + ": " + right_data[key].current_status.value, right_data[key].current_status.description) }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>

</table>


{% endblock %}
