{% extends 'base.html' %}

{% block content %}
<h1>compare</h1>

<a href="{{ url_for('settings') }}">Settings</a>


<table class="table">
  <thead>
    <tr>
      <td> Category </td>
      <td>Home</td>
      <td>Current</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <td>{{ home }}</td>
      <td>{{ location.raw.address.country }} ({{ location.raw.address.country_code }}, {{ location.raw.address.state }})</td>
    </tr>
    <tr>
      <td>
      <td>
        <img src="{{ url_for('static', filename='shapes/'+home+'/vector.svg') }}" style="height:100px">
      <td>
        <img src="{{ url_for('static', filename='shapes/'+location.raw.address.country_code+'/vector.svg') }}" style="height:100px">
      </tr>
    <tr>
      <td>Homosexuality</td>
      <td>
        <p>{{home_data.homosexuality.current_status.value}}</p>
        <p>{{home_data.homosexuality.current_status.description}}</p>
      </td>
      <td>
        <p>{{location_data.homosexuality.current_status.value}}</p>
        <p>{{location_data.homosexuality.current_status.description}}</p>
      </td>

    </tr>
  </tbody>

</table>

{% endblock %}
