{% extends 'base.html' %}


{% macro modal(id, heading, text) -%}
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#{{id}}_modal">
          I
        </button>

<!-- Modal -->
<div class="modal fade" id="{{id}}_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{heading}}: Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%- endmacro %}

{% block content %}
<h1>compare</h1>

<a href="{{ url_for('settings') }}">Settings</a>


<table class="table">
  <thead>
    <tr>
      <td>Category</td>
      <td>Home</td>
      <td>Current</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <td>{{ left_label }}</td>
      <td>{{ right_label }}</td>
    </tr>
    <tr>
      <td>
      <td>
        <img src="{{ url_for('static', filename='shapes/'+left+'/vector.svg') }}" style="height:100px">
      <td>
        <img src="{{ url_for('static', filename='shapes/'+right+'/vector.svg') }}" style="height:100px">
    </tr>
    {% for cat, values in categories %}
    {% for key in values %}

    <tr>
      <td>

      {{ right_data[key].label}}
      {{ modal(key, right_data[key].label, right_data[key].description) }}
      </td>
      <td>
        {% if left_data %}
        <p class="{{judge_class(left_data[key].current_status.value)}}">{{left_data[key].current_status.value}}</p>
        {{ modal(left_data[key].id + "_left", left_data[key].label + ": " + left_data[key].current_status.value,left_data[key].current_status.description) }}
        {% else %}

        {% endif %}
      </td>
      <td>
        <p class="{{judge_class(right_data[key].current_status.value)}}">{{right_data[key].current_status.value}}</p>
        {{ modal(right_data[key].id + "_right", right_data[key].label + ": " + right_data[key].current_status.value, right_data[key].current_status.description) }}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>

</table>


{% endblock %}
