{% extends 'base.html' %}

{% block content %}
<header id="header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('settings') }}" class="active">Settings</a></li>
        </ul>
    </nav>
</header>

<table>
<tr>
    <td>
        <div>
          Your currently selected country is: <p id="country"></p>
        </div>

        <form>
          Select your home country:
          <select onChange="onChange(this)" id="country-select">
            <option value="unset">Not set yet</option>

            {% for country in countries %}
              <option value="{{ country[0] }}">{{ country[1] }}</option>
            {% endfor %}
          </select>
        </form>
    </td>
</tr>
</table>


<script>

  function onChange(e) {
    var code = e.options[e.selectedIndex].value;
    localStorage.setItem('homeCountry', code);
    $("#country").text(code);
  }

  var country = localStorage.getItem('homeCountry');
  if (country) {
    $("#country").text(country);
    $("#country-select").val(country);
  } else {
  }

</script>

{% endblock %}
